*{
    box-sizing: border-box;
    font-family: font-family: 'Bangers';
}

body{
    display: flex;
    background-image: url(../basketballfloor.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: gray;
    font-family: 'Bangers';
     
    justify-content: center;
    align-items: center;
    width: 970px;
}

#page-wrapper{
    display: flex;

}

.right{
    display: flex;
    position: relative;
    
    width: 500px;
    align-items: flex-end;
    flex-direction: column;
    margin-right: 50px;
    color: red;
  
}

.left{
    display: flex;
    
    width: 500px;
    margin-left: -20px;
    flex-direction: column;
    color: blue;
    

}

#teams{
    display: flex;
    
    width: 940px;
    height: 300px;
    justify-content: center;
    margin-top: -35px;
    width:900px
    
    
}
#reset-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(116, 110, 97);
    
   
  
}

.ball{
    position: relative ;
    left: 445px;
    top: 245px;
    font-size: 62px;
}

h1{
    position: relative;
    
    width: fit-content;
    left: 350px;
    top: 250px;
    transform: rotate(-35deg);
    color:  rgb(246, 211, 121);
}

@media( max-width:1450px){
    *{
        box-sizing: border-box;
        font-family: 'Bangers';
    }
    
    body{
        display: flex;
        background-image: url(../basketballfloor.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: gray;
        font-family: 'Bangers';
         
        justify-content: center;
        align-items: center;
        width: 970px;
    }
    
    #page-wrapper{
        display: flex;
    
    }
    
    .right{
        display: flex;
        position: relative;
        
        width: 600px;
        align-items: flex-end;
        flex-direction: column;
        margin-right: -100px;
        margin-left: 100px;
        color: red;
      border: 1px solid blue;
    }
    
    .left{
        display: flex;
        
        width: 500px;
        margin-left: -20px;
        flex-direction: column;
        color: blue;
        
        margin-right:50px;
        
        
    
    }
    
    #teams{
        display: flex;
        
        width: 1450px;
        height: 300px;
        justify-content:flex-end ;
        margin-top: -35px;
       
        

    }
    #reset-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: rgb(116, 110, 97);
        border: 1px solid yellow;
        margin-left: -10px;
        width:1500px;
        padding-left: 300px;
    }

    #reset{
       
    }
    
    .ball{
        position: relative ;
        left: 955px;
        top: 355px;
        font-size: 100px;
    }
    
    h1{
        position: relative;
        
        width: fit-content;
        left: 815px;
        top: 345px;
        font-size: 56px;
        transform: rotate(-35deg);
        color:  rgb(246, 211, 121);
    }

